<div class="menu-muse">
    <%= link_to image_tag('tabimuse_logo.png',:class => "logo"), :controller=>"escape", :action => "index" %>
    <div class="menulist">
        <%= link_to image_tag('timeline-pink.png',:class => "timeline"), :controller=>"escape", :action => "index" %>
        <%= link_to image_tag('collection.png',:class => "collection"), :controller=>"escape", :action => "index" %>
        <%= link_to image_tag('muse.png',:class => "muse"), :controller=>"escape", :action => "index" %>
    </div>
</div>