<div class="menu-muse">
    <%= link_to image_tag('tabimuse_logo.png'),:class => "logo", :controller=>"posts", :action => "index" %>
    <div class="menulist">
        <%= link_to image_tag('timeline-pink.png'),:class => "timeline", :controller=>"posts", :action => "index" %>
        <%= link_to image_tag('collection.png'),:class => "collection", :controller=>"posts", :action => "index" %>
        <%= link_to image_tag('muse.png'),:class => "muse", :controller=>"posts", :action => "index" %>
    </div>
</div>